# Data science Tools and ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized

Some of the popular languages that data scientists use are:
1. Python
1. R
1. Scala
1. Julia

Some of the commonly used libraries used by Data Scientists include:
* scikit
* matplotlib
* pandas

|Data Science Tools|
|------------------|
|Jupyter|
|apache spark|
|tensorflow|
|IBM watson|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
1+2

3

In [2]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Adam B.